@{
  Layout = "_Layout";
}

@using Revenge.Models
@model Revenge.Models.Flavor

<div class='pageStyle'>
  <h2>@Model.FlavorName</h2>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>This flavor isn't connected to any treats</p>
  }
  else
  {
    <h4>connections:</h4>
    <ul>
      @foreach (FlavorTreat join in Model.JoinEntities)
      {
        <li>@join.Treat.TreatName</li>
      }
    </ul>
  }

  @Html.ActionLink("Add Treat to Flavor", "AddTreat", new { id = Model.FlavorID }) <br />
  @if (@Model.JoinEntities.Count != 0)
  {
    @Html.ActionLink("Remove Treat from Flavor", "RemoveTreat", new { id = Model.FlavorID })
  }
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorID })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorID })</p>
  <p>@Html.ActionLink("Other Flavors", "Index", new { id = Model.FlavorID })</p>
  <p>@Html.ActionLink("Check out treats", "Index", "Treat")</p>

</div>