@{
  Layout = "_Layout";
}

@using Revenge.Models
@model Dictionary<string, object[]>


<div id='title'>
  <p>Pierre's Revenge</p>

</div>
<h2 id='tagline'>...this time it's authenticated</h2>


<div class='pageStyle'>

  @* @if (User.Identity.IsAuthenticated)
  {
  <h4>Treats for @User.Identity.Name</h4>
  @if (Model["treats"].Length == 0)
  {
  <p>No treats have been added yet!</p>
  }
  <ul>
  @foreach (Treat treat in Model["treats"])
  {
  <li>@Html.ActionLink(@treats.RecipeName, "Details", "Treats", new { id = @treat.TreatID })</li>
  }
  </ul>
  }
  else
  {
  <h4>Treats</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats.</p>
  } *@

  <hr />

  <p>@Html.ActionLink("go to recipes", "Index", "Recipe")</p>
  <p>@Html.ActionLink("go to cuisines", "Index", "Cuisine")</p>
  <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
</div>